pkgbase = relink-logs-appimage
	pkgdesc = Overlay DPS parser and meter for Granblue Fantasy: Relink (AppImage)
	pkgver = 1.12.10
	pkgrel = 1
	url = https://github.com/villith/relink-logs
	arch = x86_64
	license = MIT
	depends = fuse2
	depends = hicolor-icon-theme
	provides = relink-logs
	provides = gbfr-logs
	conflicts = relink-logs
	conflicts = gbfr-logs
	noextract = relink-logs-appimage-1.12.10.AppImage
	options = !strip
	options = !debug
	source = relink-logs-appimage-1.12.10.AppImage::https://github.com/villith/relink-logs/releases/download/1.12.10/gbfr-logs_1.12.10_amd64.AppImage
	source = relink-logs-appimage-1.12.10.LICENSE::https://raw.githubusercontent.com/villith/relink-logs/1.12.10/LICENSE
	sha256sums = 55b69f061f70ae7ebc8e4a8767aa54c7c9f99e7e57f87e8b56d5abb7c1832040
	sha256sums = 810d9b66e3e6018cabcf3502aed71981222a33e0a4233499ebc537df316e09ad

pkgname = relink-logs-appimage
